<a href="https://cognitiveclass.ai"><img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/IDSNlogo.png" width = 400> </a>

<h4 align=center><font size = 6><em>Segmenting & Clustering Neighborhoods in the city of Toronto, Canada</font></h4>





## For this assignment, you will be required to explore and cluster the neighborhoods in Toronto ##



### Tips for  Webscraping Updated Table in Week3 Peer Graded Assignment

#### 1)Before we start with the main lab content, let's download all the dependencies that we will need.

In [4]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
!pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/0c/67/915668d0e286caa21a1da82a85ffe3d20528ec7212777b43ccd027d94023/geopy-2.1.0-py3-none-any.whl (112kB)
     |████████████████████████████████| 112kB 964kB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/df/60/d1d4c4944f9726228faa80fbe2206c8ddfd9757791b2de2facb8818c5d74/geographiclib-1.52-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.1.0
Libraries imported.

<a id='item1'></a>

####  Download and explore dataset

Run `wget` command and access the data

In [5]:
!wget -q -O 'newyork_data.json' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs/newyork_data.json
print('Data downloaded!')

Data downloaded!

#### Load and explore the data

In [6]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

Notice how all the relevant data is in the features key, which is basically a list of the neighborhoods. So, let's define a new variable that includes this data.

In [7]:
neighborhoods_data = newyork_data['features']

#### Transform the data into pandas dataframe

The next task is essentially transforming this data of nested Python dictionaries into a pandas dataframe. So let's start by creating an empty dataframe.

In [8]:
# define the dataframe columns
column_names = ['PostalCode','Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

Take a look at the empty dataframe to confirm that the columns are as intended.

In [9]:
neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Then let's loop through the data and fill the dataframe one row at a time

In [10]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

Quickly examine the resulting dataframe.

In [28]:
neighborhoods.head(12)

    PostalCode    Borough    Neighborhood   Latitude  Longitude
0          NaN      Bronx       Wakefield  40.894705 -73.847201
1          NaN      Bronx      Co-op City  40.874294 -73.829939
2          NaN      Bronx     Eastchester  40.887556 -73.827806
3          NaN      Bronx       Fieldston  40.895437 -73.905643
4          NaN      Bronx       Riverdale  40.890834 -73.912585
5          NaN      Bronx     Kingsbridge  40.881687 -73.902818
6          NaN  Manhattan     Marble Hill  40.876551 -73.910660
7          NaN      Bronx        Woodlawn  40.898273 -73.867315
8          NaN      Bronx         Norwood  40.877224 -73.879391
9          NaN      Bronx  Williamsbridge  40.881039 -73.857446
10         NaN      Bronx      Baychester  40.866858 -73.835798
11         NaN      Bronx  Pelham Parkway  40.857413 -73.854756

<a id='item2'></a>